/*
* @Author: Administrator
* @Date:   2017-01-13 18:40:23
* @Last Modified by:   Administrator
* @Last Modified time: 2017-01-13 18:43:51
*/

body,html{
	background-color: pink;
}
p{
	font-size: 20px;
	color:yellow;
}
